.MuiTableCell-root {
    font-weight: 600 !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active,
.MuiTableSortLabel-root:hover {
    color: inherit !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
    color: inherit !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: inherit !important;
}

.MuiTableSortLabel-root:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 420px) {
    .MuiTableCell-root {
        font-size: 0.7rem !important;
        font-weight: 500 !important;
        padding: 8px !important;
    }
    .MuiTableSortLabel-icon {
        font-size: 14px;
    }
    .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
        margin: 0;
    }
}

@media only screen and (max-width: 375px) {
    .MuiTableCell-root {
        font-size: 0.6rem !important;
        padding: 6x !important;
    }
    .MuiTableSortLabel-icon {
        font-size: 12px !important;
    }
    .MuiTableCell-head {
        line-height: 1rem !important;
    }
}